.my_main
  .header
    = render partial: "posts/header"
  .my_main_title
    .user_header
      .user_sub
        .user_imag
        .user_edit_btn
          - if current_user.id?
            = link_to "プロフィール変更", edit_user_path(current_user) 
          - else 
            folow 
      .user_main
        .user_name
          = @name 
        .user_profle
          よろしくお願いします
  .main_content
    .main_content_box
      .main_content_box_post
        = link_to "コーディネート投稿", new_post_path, class:"main_content_box_post"
      .main_content_box_list
        = render @posts