.header
  .header_contents
    .header_contents_btn_seach_form
      = form_tag( search_posts_path, method: :get )  do
        = text_field_tag :keyword, params[ :keyword], { placeholder: "投稿を検索する", class: "text" }
    .header_contents_btn_app_name
      = link_to "USED", root_path 
    .header_contents_btn_rigt_btn
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_contents_btn_login_user" 
        = link_to current_user.name, user_path(current_user), class: "header_contents_btn_now_user"
      - else
        = link_to "ログイン", new_user_session_path, class: "header_contents_btn_login_user" 
        = link_to "新規登録", new_user_registration_path, class: "header_contents_btn_new_user" 