.main 
  .header
    .header_contents
      .input_box
      .header_contents_btn_seach_form
        
      .header_contents_btn_app_name
        USED 
      .header_contents_btn_rigt_btn
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_contents_btn_login_user" 
          = link_to current_user.name, user_path(current_user), class: "header_contents_btn_new_user"
        - else
          = link_to "ログイン", new_user_session_path, class: "header_contents_btn_login_user" 
          = link_to "新規登録", new_user_registration_path, class: "header_contents_btn_new_user" 
  .main_contents
    .user_contens
      = render partial: 'posts/post', locals: {psot: @post }
    .main_contents_user_box
      .main_contents_user_info
        .main_contents_user_icon
        .main_contents_user_name
      .main_contents_user_follow
