.post
  .header
    = render partial: "header"
  .post_form
    = form_for(@post,local: true) do |f|
      .post_name
        %h1
          ファッション投稿
      .field
        .field-label
          = f.label :"コーディネート画像"
          .item-num-0#image-box__container
        .field-input
          = f.label :image  do
            = icon('fas', 'image', class: 'messege_image fa-7x fa-spin')
            = f.file_field :image, class: 'input_box__image_file'
      .field
        .field-label
          = f.label :"コーディネート詳細"
        .field-input
          = f.text_area :text, size: "45x5",placeholder: "例)コーデ載せまーす( ^ω^ )皆さん元気ですか？私は元気ですよ( ´ ▽ ` )今日も張り切っていきましょう！！"
      .field
        .field-label
          = f.label :"カンマで区切ってタグをいっぱい書いてください" 
        .field-input
          = f.text_area :tag_list,size: "45x5",placeholder:"例）夏,海,コーデ,ストリートファッション"
      .post_name
        %h1
          商品出品
      .field
        .field-label
          = f.label :"商品画像"
          .item-num-0#image-box__container
        .field-input
          = f.label :image  do
            = icon('fas', 'image', class: 'messege_image fa-7x fa-spin')
            = f.file_field :image, class: 'input_box__image_file'
      .field
        .field-label
          = f.label :"商品名"
        .field-input
          = f.text_field :name, class: 'used__name', placeholder: ' 40文字まで',size: "45x5"
      .field
        .field-label
          = f.label :"商品の詳細"
        .field-input
          = f.text_area :clothesinfo, size: "45x5"
      .field
        .field-label
          = f.label :"ブランド"
        .field-input
          = f.text_field :brand, class: 'used__name', placeholder: ' apple',size: "45x5"
      .field
        .field-label
          = f.label :"価格"
        .field-input
          = f.number_field  :price, class: 'used__name', placeholder: ' 1000'
          円
      .actions
      = f.submit "投稿する", class: 'btn'