.content
  .header
    = render partial: "header"
  .user_header
    .user_imag
      = link_to user_path(@post.user.id) do
        = image_tag @post.user.image_name, :size =>'70x70'
    .user_header_name
      = @post.user.name
    - if user_signed_in? && current_user.id == @post.user_id
      .user_post_edit
        = link_to edit_post_path(@post.id), method: :get do
          = icon('fa', 'edit', class: "user_name__btn--icon")
      .user_post_delet
        = link_to "/posts/#{@post.id}", method: :delete do
          = icon('fa', 'trash-alt' , class: "user_name__btn--icon")
      .like-button
        = render partial: "likes/like", locals: { post: @post, posts: @posts, likes: @likes, like: @like}
  .content_info
    .content_info_user_post
      .content_info_user_post_content
        .content_info_user_post_image
          = image_tag @post.image
        .content_info_user_post_text
          .format
            %a コーディネートの内容
          .content_info_user_post_text_comment
            = simple_format(@text)
            .content_info_user_post_tag
              - @post.tag_list.each do |tag|
                %span{class: "content_info_user_post_tags"}= tag
      .product_fild
        %h1 出品商品
        .product_fild_name
          %h2 商品名: 台湾にいって買ったやつ
        .product_fild_text
          %h3 jfiajiaj;jairjgianrijio;agjijafo;
        .product_fild_info
          .product_fild_info_image
            = image_tag 'IMG_5675.JPG'
          .product_fild_info_detil
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @post.user.name
                %tr
                  %th
                    カテゴリー
                  %td
                    あ
                    %br/
                    あ
                    %br/
                    あ
                %tr
                  %th
                    ブランド
                  %td
                    ぐち
                %tr
                  %th
                    商品のサイズ
                  %td
                    M
                %tr
                  %th
                    価格
                  %td
                    100円
        .product_fild_sell
          - if user_signed_in? && current_user.id == @post.user_id
            .product_fild_sell_delete
              = link_to "/posts/#{@post.id}", method: :delete, class:"" do
                %p 商品の削除
          - else 
            .product_fild_sell_buy
              = link_to('', {}) do
                %p 商品の購入
      .comment_fild
        .content_info_user_post_comment_fild
          -if current_user
            = form_for [@post, @comment] do |f|
              .field
                .field-label 
                .field-input
                  = f.text_area :text,size: "100x5", placeholder: "コメントする",class:"comment_fild_form"
                .actions
                  = f.submit "コメントする", class: 'btn'
        .content_info_user_post_comment_list
          <コメント一覧>
        .comment_box
          - @comments.each do |comment|
            .comments_user_name
              = link_to comment.user.name, user_path(comment.user_id)
                
            .comment_title
              = comment.text